# Environment configuration
# NODE_ENV=development
# PORT=8000
# FRONTEND_URL=http://localhost:3000

# # Database Connection (Postgres / Neon)
# DATABASE_URL=postgresql://neondb_owner:npg_6MEqDLd4pyCT@ep-plain-feather-atbxqjvt-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# # Authentication JWT Secret
# JWT_SECRET=super-secret-jwt-key-change-in-production-2026

# Africa's Talking Credentials (for SMS & USSD notifications)
AT_USERNAME=sandbox
AT_API_KEY=atsk_47d1cb72c23885407aab683129af9ca1309bfbe9a3edb461b4eb1b0e6b47de60ddc3e198
